@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: radial-gradient(circle at 18% 0%, rgba(63, 51, 81, 1) 0%, rgba(31, 29, 54, 1) 100%);
}
.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2%;
  box-sizing: border-box;
}
.col-1 .profil {
  width: 260px;
  border-radius: 180px;
  margin-top: 10px;
}
.row {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.col-1 h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
}
.link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box1,
.box2,
.box3,
.box4 {
  cursor: pointer;
  font-size: 30px;
  color: white;
  border: 0;
  width: 250px;
  height: 100px;
  margin: 40px;
  border-radius: 20px;
  background: linear-gradient(63deg, rgba(255, 53, 160, 1) 0%, rgba(255, 53, 109, 1) 100%);
  transition: 0.2s;
}
a :hover {
  border-bottom: solid 5px white;
}

@media only screen and (max-width: 700px) {
  body {
    background: radial-gradient(circle at 18% 0%, rgba(63, 51, 81, 1) 0%, rgba(31, 29, 54, 1) 100%);
  }
  .col-1 .profil {
    width: 180px;
  }
  .link {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .box1,
  .box2,
  .box3,
  .box4 {
    width: 300px;
    height: 60px;
    margin: 10px;
  }
}
